.forensic {
    font-family: 'Poppins-Regular';
    font-size: 2.09vw;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6vw;
}

.forensic-heading {
    margin-bottom: 2.09vw;
}

.forensic-video {
    margin-top: 1.39vw;
    align-items: center;
}

@media (max-width: 600px) {
    .forensic{
        font-size: 4vw;
        padding: 4vw;
    }
    .forensic-heading{
        margin-bottom: 8vw;
    }
}