.corporate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.95vw;
    justify-content: center;
}

.corporate-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.67vw;
    margin-bottom: 0.7vw;
}

.corporate-heading-text{
    font-family: 'Poppins-Regular';
    font-size: 2.09vw;
    font-weight: 400;
}
.corporate-lottie{
    padding-top: 2.09vw;
    scale: 1.1;
}