.card {
    width: 29.03vw;
}

.card input {
    position: absolute;
    opacity: 0;
}

.tab_label {
    margin-top: 0.7vw;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tab_label::after {
    content: "\276F";
    width: 1.12vw;
    height: 1.12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    transition: all 0.1s;
}

.card input:checked+.tab_label::after {
    transform: rotate(270deg);
}

.card-header {
    gap: 0.625vw;
    margin-bottom: 0.76vw;
}

.card-header img {
    width: 3.125vw;
    height: 3.125vw;
}

.card-header-name {
    font-size: 1.04vw;
    color: #DDDDDD;
}

.card-header-position {
    font-size: 1vw;
    color: #AAAAAA;
}

.card #cb1:checked~.content-box1 {
    max-height: 21.11vw;
}

.card #cb2:checked~.content-box2 {
    max-height: 21.11vw;
}

.content-box1 {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.content-box2 {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.card-content {
    padding-bottom: 0.764vw;
    padding-left: 1.11vw;
    font-size: 1.04vw;
}

.card-vertical-line {
    margin-left: 0.35vw;
    margin-right: 0.7vw;
    width: 0.5px;
    background-color: #707070;
}

@media (max-width: 600px) {
    .card {
        width: 63vw;
    }

    .tab_label {
        margin-top: 1.5vw;
    }

    .card-header {
        gap: 1.36vw;
        margin-bottom: 1.65vw;
    }

    .card-header img {
        width: 6.78vw;
        height: 6.78vw;
    }

    .card-header-name {
        font-size: 2.26vw;
        color: #DDDDDD;
    }

    .card-header-position {
        font-size: 2.17vw;
        color: #AAAAAA;
    }

    .card #cb1:checked~.content-box1 {
        max-height: 45.8vw;
    }

    .card #cb2:checked~.content-box2 {
        max-height: 45.8vw;
    }

    .card-content {
        padding-bottom: 1.66vw;
        padding-left: 2.4vw;
        font-size: 2.26vw;
    }

    .card-vertical-line {
        margin-left: 0.76vw;
        margin-right: 1.5vw;
    }
}