.concall {
    position: relative;
}

.concall-heading {
    display: flex;
    justify-content: center;
    margin-top: 1.39vw;
    margin-bottom: 1.39vw;
}

.concall-heading-text {
    font-family: 'Poppins-Regular';
    font-size: 2.09vw;
    font-weight: 400;
}

.concall-body {
    transition: all 0.3s;
}

/* CSS for toggle button off state - Starts*/

.concall-body-off {
    margin-top: 1.81vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35vw;
    animation: appear 1s;
}

.infosys-header-off {
    padding: 0.35vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.concall-lottie {
    position: relative;
    height: 16.18vw;
    width: 35.14vw;
    padding-top: 2.08vw;
}

/* CSS for toggle button off state - Ends*/

/* CSS for toggle button - ON state */

.concall-body-on {
    margin-bottom: 1.04vw;
    align-items: center;
    animation: appear 2s;
}

.concall-carousel {
    position: relative;
    background-color: #222222;
    border-radius: 7.5px;
    transition: all 0.2s;
}

.headermask {
    background-color: #2BC1FF;
    opacity: 7%;
    height: 4.86vw;
    width: 36.81vw;
    position: relative;
    border-radius: 7.5px;
}

.infosys-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0px;
    height: 4.86vw;
}

.verticalRule {
    width: 1px;
    height: 3.6vw;
    background-color: #707070;
    margin-left: 0.83vw;
}

.infosys-text {
    font-family: 'Poppins-Regular';
    font-size: 1.32vw;
    margin-left: 1.39vw;
    color: #DDDDDD;
}

.carousel-buttons {
    padding: 1.11vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.carousel-button {
    padding: 0.35vw 1.39vw;
    color: #AAAAAA;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.04vw;
    font-family: 'InterTight-Regular';
    transition: all 0.4s;
}

.button-active {
    color: #fff;
    background-color: #5b5959;
    border-radius: 50px;
    font-family: 'Inter-Medium';
}

/* Carousel card css starts */

.card-container {
    display: flex;
    margin-left: 3.05vw;
}

.carousel-dots {
    position: relative;
    bottom: 1.3vw;
    margin-top: 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-dots .dot {
    width: 0.52vw;
    height: 0.52vw;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
}


.concall-footer {
    position: relative;
    align-items: center;
    margin-top: 1.39vw;
    gap: 0.35vw;
}

.blurred-text {
    filter: blur(1.5px);
}