.hero-form {
    position: absolute;
    z-index: 1;
    height: 8.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.15vw;
    opacity: 0;
    animation: fade-in 3s forwards;
    animation-delay: var(--at);
    transition: height 0.1s;
}

@keyframes fade-in {
    100% {
        opacity: 100%;
    }
}

.hero-form-heading {
    padding-bottom: 0.5vw;
}

.hero-form-input {
    border-radius: 50px;
    padding: 0.47vw;
    padding-left: 2.5vw;
    background-color: #444444;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.hero-form-input input {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 1.15vw;
    width: 9.27vw;
    background: none;
    border: none;
    color: #BBBBBB;
    background-color: #444444;
    border-radius: 10px;
    outline: none;
    transition: width 0.3s;
}

.input-width-change input {
    width: 13.4vw;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: #444444 !important;
    color: fieldtext !important;
}

.hero-form-input input::placeholder {
    color: #BBBBBB;
}

.hero-form-button {
    border-radius: 50px;
    padding: 0.37vw 0.5vw 0.37vw 0.78vw;
    width: fit-content;
    font-size: 1.15vw;
    font-family: 'Poppins-SemiBold', sans-serif;
    background-color: #278AFF;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 0.3vw;
}

.hero-form-button:hover {
    background-color: #1968C5;
}

.arrow-icon {
    color: white;
    background-color: #1A1A1A;
    border-radius: 50px;
    padding: 0.8vw;
    transition: all 0.3s ease;
}

.hero-form-button:hover .arrow-icon {
    font-size: 1.39vw;
    padding: 0.68vw;
}

.error-message {
    padding-top: 0.52vw;
    font-size: 1.04vw;
    color: #FFA7A7;
}

.red-text input {
    color: #FFA7A7;
    text-decoration: underline wavy;
}

/* Already Registered Styles */

.already-registered {
    border-radius: 50px;
    padding: 0.83vw;
    height: inherit;
    background-color: #002C4B;
    display: flex;
    flex-direction: row;
    width: 30.15vw;
    font-family: 'Poppins-Medium';
    font-size: 1.09vw;
}

.height-after {
    height: 5.05vw;
}

.tick {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.registered-message {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #A7D9FF;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0%;
    animation: moving 0.5s linear forwards;
}

.registered-check {
    color: #008EFA;
    width: 3.38vw;
    height: 3.38vw;
    position: absolute;
    animation: check-animate 0.5s linear forwards;
}

.registered-message-text {
    animation: fadeIn 1s;
}

@keyframes check-animate {
    0% {
        right: 15vw;
    }

    100% {
        right: 0.73vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moving {
    0% {
        width: 0%;
        opacity: 0%;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

/* Successfully Registered Styles */

.success {
    border-radius: 50px;
    padding: 0.83vw;
    height: inherit;
    background-color: #1B331A;
    display: flex;
    flex-direction: row;
    width: 42vw;
    font-family: 'Poppins-Medium';
    font-size: 1.09vw;
}

.success-message {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #ACE598;
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0%;
    animation: moving 0.5s linear forwards;
}

.success-check {
    color: #89FF60;
    width: 3.38vw;
    height: 3.38vw;
    position: absolute;
    animation: check-animate 0.5s linear forwards;
}

.success-message-text {
    animation: fadeIn 1s;
}

/* Mobile Responsive Design */

@media (max-width: 600px) {
    .hero-form {
        height: 11.3vh;
        font-size: 2.93vw;
        top: -16vh;
    }

    .hero-form-heading {
        padding-bottom: 2.3vw;
    }

    .hero-form-input {
        padding: 1.38vw;
        padding-left: 5.4vw;
        gap: 4.34vw;
    }

    .hero-form-input input {
        font-size: 3.1vw;
        width: 27.2vw;
    }

    .input-width-change input {
        width: 35vw;
    }

    .hero-form-button {
        font-size: 3.1vw;
        padding: 1.1vw 1.5vw 1.1vw 4.05vw;
        gap: 0.9vw;
    }

    .arrow-icon {
        padding: 2.4vw;
    }

    .hero-form-button:hover {
        background-color: #278AFF;
    }

    .hero-form-button:hover .arrow-icon {
        font-size: 3.1vw;
        padding: 2.4vw;
    }

    .default-message {
        font-family: 'Poppins-Medium';
        font-size: 2.5vw;
    }

    .error-message {
        padding-top: 1.87vw;
        font-size: 2.5vw;
    }

    .error-message svg {
        width: 2.4vw;
        height: 1.83vw;
    }

    .already-registered {
        padding: 2.5vw;
        width: 85vw;
        font-size: 2.9vw;
    }

    .height-after {
        height: 15vw;
    }

    .registered-check {
        width: 9vw;
        height: 9vw;
    }

    @keyframes check-animate {
        0% {
            right: 70vw;
        }

        100% {
            right: 2.5vw;
        }
    }

    .success {
        padding: 2.5vw;
        width: 90vw;
        font-size: 2.9vw;
    }

    .success-check {
        width: 9vw;
        height: 9vw;
    }
}