.news {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: max-content;
}

.news-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.67vw;
}

.news-heading-text {
    font-family: 'Poppins-Regular';
    font-size: 2.09vw;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news-lottie {
    position: absolute;
    top: -1.4vw;
    width: 58vw;
}

@media (max-width: 475px) {
    .news-heading {
        margin-top: 5vw;
    }

    .news-heading-text {
        font-size: 4vw;
    }

    .news-lottie {
        top: 0;
        width: 130vw;
    }
}