.outer-container {
    position: absolute;
    height: 400vw;
    top: -320.6vw;
    left: 0;
}

.grid-container {
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(30, 43.4vw);
    grid-template-rows: repeat(10, minmax(38.2vw, auto));
    /* position: relative;  */
    gap : 27px;
    padding-left: 6vw;
    /* animation: scaleIn 10s forwards 10s; */
}

.footer{
    z-index: -2;
    position: relative;
    height: 400vw;
    width: 100vw;
    /* background-color: red; */
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    width: 43.4vw;
    height: 38.2vw;
    background-color: #151515;
    opacity: 0;
    border: 1px solid white;
    /* animation: gridHide 14s forwards; */
}

.news-section {
    width: 43.4vw;
    height: 34.7vw;
    background-color: #151515;
    border-radius: 7.5px;
    /* animation: sizeAnimation 2s forwards 9s; */
}

.concall-section {
    width: 43.4vw;
    height: 42.3vw;
    background-color: #151515;
    border-radius: 7.5px;
    transition: all 0.2s;
    /* animation: sizeAnimation 2s forwards 9s; */
}

.corporate-section {
    position: relative;
    width: 43.4vw;
    height: 38.2vw;
    background-color: #151515;
    border-radius: 7.5px;
}



.forensic-section {
    width: 43.4vw;
    height: 31.95vw;
    background-color: #151515;
    border-radius: 7.5px;
}

.skeleton-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.33vw;
}

.skeleton-1 {
    width: 9.03vw;
    height: 1.32vw;
    background-color: #777777;
    border-radius: 4px;
    transform: scale(3.5);
}

.skeleton-2 {
    width: 6.25vw;
    height: 1.32vw;
    background-color: #777777;
    border-radius: 4px;
    transform: scale(3.5);
}

@keyframes hideIn {
    100% {
        opacity: 0;
    }
}

.complexity-text {
    position: absolute;
    opacity: 0;
    scale: 0;
    top: 80%;
    left: 28vw;
    font-size: 52.5px;
}




.grid-email {
    position: absolute;
    top: 93%;
    opacity: 0;
    width: 37.5vw;
    height: 9.51vw;
    left: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    scale: 0
    
}


