.outer-container {
    position: absolute;
    height: 400vw;
    top: -278vw;
    left: 0;
}

.grid-container {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(30, 43.4vw);
    grid-template-rows: repeat(10, minmax(38.2vw, auto));
    gap: 1.9vw;
    padding-left: 6vw;
    /* padding-top: 40.36vw; */
    transform-origin: 0% 99%;
    /* animation: scaleIn 10s forwards 10s; */
}

.footer {
    position: relative;
    height: 370vw;
    width: 100vw;
    z-index: -1;
    /* background-color: red; */
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.08vw;
    color: #fff;
    width: 43.4vw;
    height: 38.2vw;
    border-radius: 50px;
    background-color: #151515;
    opacity: 0;
}

.news-section {
    position: relative;
    width: 43.4vw;
    height: 34.7vw;
    background-color: #151515;
    border-radius: 10px;
}

.concall-section {
    position: relative;
    width: 43.4vw;
    height: 42.3vw;
    background-color: #151515;
    border-radius: 10px;
    transition: all 0.2s;
}

.corporate-section {
    position: relative;
    width: 43.4vw;
    height: 45vw;
    background-color: #151515;
    border-radius: 10px;
}

.forensic-section {
    position: relative;
    width: 43.4vw;
    height: 31.95vw;
    background-color: #151515;
    border-radius: 10px;
}

.skeleton-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.33vw;
}

.skeleton-1 {
    width: 9.03vw;
    height: 1.4vw;
    background-color: #777777;
    border-radius: 4px;
    transform: scale(3.5);
}

.skeleton-2 {
    width: 6.25vw;
    height: 1.4vw;
    background-color: #777777;
    border-radius: 4px;
    transform: scale(3.5);
}

.complexity-text {
    position: absolute;
    opacity: 0;
    scale: 1;
    top: 90%;
    left: 27vw;
    font-size: 3.65vw;
    z-index: 2;
}

.grid-email {
    z-index: 2;
    position: absolute;
    top: 92%;
    width: 37.5vw;
    height: 9.51vw;
    left: 31vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    scale: 1;
}

@media (max-width: 600px){
    .skeleton-block{
        gap: 3vw;
    }
    .skeleton-1{
        width: 15vw;
        height: 3.5vw;
        transform: scale(1);
    }
    .skeleton-2{
        width: 12vw;
        height: 3.5vw;
        transform: scale(1);
    }
}