.gradient-background {
    position: relative;
    /* top: -10px; */
    /* height: 390px; */
    /* background: linear-gradient(to bottom, #03213B, #000101); */
    transition: opacity 1s;
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.box1 {
    opacity: 0;
}

.box2 {
    opacity: 0;
}

.box3 {
    opacity: 1;
}

.features-section {
    padding-top: 5.55vw;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
    padding-bottom: 1.38vw;
    z-index: 1;
}

.fade_rule {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(to left, #001B2D 0%, #AAAAAA 50%, #001B2D 100%),
        linear-gradient(to right, #001B2D 0%, #AAAAAA 50%, #001B2D 100%);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 100%;
}

.about .text {
    font-size: 3.125vw;
    margin: auto;
    padding-top: 0.7vw;
}

.about .about-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins-Regular';
    transition: opacity 0.5s ease;
}

/* Heading Container CSS */

.heading-container .text {
    margin-top: 4.37vw;
    position: relative;
}

.brand-heading {
    position: relative;
    display: inline-block;
    font-family: 'Cantarell-Bold', sans-serif;
    font-size: 2.76vw;
}

.brand-heading::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 24vw;
    height: 3px;
    background-image: linear-gradient(to right, #FF2E2E 0%, #FF2E2E 49%, transparent 49%, transparent 51%, #66FF00 51%, #66FF00 100%);
    background-size: 100% 100%;
}

/* About text with typewriter animation */

.typewriter {
    color: #fff;
    opacity: 1;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s linear;
}

@keyframes typing {
    from {
        width: 0;
        color: #707070;
    }

    to {
        width: 100%;
        color: #707070;
    }
}

.pointer {
    opacity: 1;
    scale: 1;
    animation: pointer-animation 0.4s linear 1.5s;
}

@keyframes pointer-animation {
    0% {
        scale: 1;
    }

    50% {
        scale: 70%;
    }

    100% {
        scale: 1;
    }
}

/* About text with typewriter animation ends*/

.vertical-line {
    height: 0px;
    background-color: #707070;
    width: 0.5px;
}

/* Get a feel try it now styles */
.exclusive {
    align-items: center;
    padding-top: 1.5vw;
}

.feel-text {
    font-family: 'Poppins-Regular';
    font-size: 2.08vw;
}

.exclusive-brand-heading {
    position: relative;
    display: flex;
    font-family: 'Cantarell-Bold', sans-serif;
    font-size: 2.4vw;
    padding-right: 1.56vw;
}

.exclusive-brand-heading:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 18.75vw;
    height: 3px;
    background-image: linear-gradient(to right, #FF2E2E 0%, #FF2E2E 49%, transparent 49%, transparent 51%, #66FF00 51%, #66FF00 100%);
    background-size: 100% 100%;
}

/* Toggle Button styles */

.toggle-button {
    background-color: #252525;
    width: 7.08vw;
    height: 2.96vw;
    border-radius: 3.472vw;
    display: flex;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: Arial;
    position: relative;
}

.slider {
    width: 2.2vw;
    height: 2.2vw;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    left: 0.4vw;
    top: 0.4vw;
}

input:checked~.toggle-button-css {
    background-color: #1592E6;
}

input:checked~.toggle-button-css .slider {
    transform: translatex(4vw);
}

.toggle-label,
.slider {
    transition: all 0.2s cubic-bezier(0.66, 0.07, 0.58, 1);
}

.wrapper {
    padding-top: 0.83vw;
}

.wrapper input {
    display: none;
}

.toggle-button-css {
    cursor: pointer;
}


/* mobile responsive css */

@media (max-width: 475px) {
    /* .gradient-background {
        background: linear-gradient(to bottom, #03213B, #000101);
        top: 0px;
        height: 13.67vh;
    } */

    .about .text {
        font-size: 6.67vw;
        padding-top: 1.4vh;
    }
    .brand-heading::after{
        width: 51vw;
    }
    .feel-text{
        font-size: 6.67vw;
    }
    .exclusive-brand-heading{
        font-size: 5.7vw;
    }
    .exclusive-brand-heading:after{
        width: 45vw;
    }
    .toggle-button{
        width: 22vw;
        height: 9.7vw;
        border-radius: 10vw;
    }
    .slider{
        width: 7.6vw;
        height: 7.6vw;
        left: 1vw;
        top:1vw;
    }
    input:checked~.toggle-button-css .slider {
        transform: translatex(12vw);
    }
}