.footer-section{
    position: absolute;
    background-color: #000;
    bottom: 0;
    width: 100vw;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 3.15vw;
    margin-top: 3vw;
}

.quicklinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5.93vw;
    margin-left: 4.2vw;
    font-family: 'Poppins-Regular';
    font-size: 1.3vw;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    /* stroke: #fff; */
    text-decoration: underline;
    text-decoration-color: #278AFF;
    text-decoration-thickness: 2px;
}

.social-links-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.96vw;
}

.social-links-heading hr {
    width: 10.42vw;
    border-color: #707070;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 3.7vw;
    font-size: 2.15vw;
}

#social-link-tooltip {
    font-size: 1.3vw;
    background-color: #2E2E2E;
}

.footer-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25vw;
    margin-bottom: 2.1vw;
}

.footer-line hr {
    width: 95.7vw;
    border-color: #707070;
}

.footer-line-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    font-size: 1.04vw;
}

@media (max-width: 600px) {
    .footer-section{
        position:relative;
    }

    .footer-container {
        margin-top: 5vw;
        gap: 10vw;
    }

    .social-links-heading {
        font-size: 6.67vw;
        gap: 1.3vw;
        justify-content: center;
    }

    .social-links-heading hr {
        width: 17.1vw;
    }

    .social-links {
        font-size: 7vw;
        gap: 9vw;
    }

    .quicklinks {
        flex-direction: column;
        align-items: flex-start;
        gap: 4vw;
        margin-left: 6.1vw;
        font-size: 4.8vw;
    }

    .footer-link:hover {
        text-decoration: none;
    }

    .footer-line {
        gap: 4.27vw;
        margin-bottom: 4.8vw;
        font-size: 3.73vw;
    }

    .footer-line hr {
        width: 93vw;
        border-color: #707070;
    }

    .footer-line-links {
        font-size: 3.73vw;
        gap: 8.8vw;
        opacity: 80%;
    }

    .footer-line span {
        opacity: 80%;
    }
}