.banner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    height: max-content;
}

@keyframes easeIn {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes easeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.animation-container {
    display: inline-block;
    position: relative;
}

.ease-in-out {
    animation: easeIn 3s ease-in;
}

@media (max-width: 475px) {
    .banner {
        padding-top: 20vh;
    }

    .animation-container {
        scale: 1.15;
    }
}